doctype html
html
  head
    script(type='text/javascript', src=wsAddress + '/socket.io/socket.io.js').
    
    <link href="/images/favicon.ico" rel="icon" type="image/ico" />
    <meta charset='utf-8'>
    <title>Birds.js</title>

    <link href="stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />

    <script data-main="javascripts/game/gameEngine" src="javascripts/lib/require.min.js"></script>

  body.

    <div id="gameScreen">

      <div id="gs-info-panel">To fly, press your <strong>space bar</strong> !</div>
      
      <canvas id="gs-canvas" width="900" height="768"></canvas>
      
      <div id="gs-loader" class="inGamePanel overlay">

        <div id="gs-loader-anim-box">
          <div id="gs-loader-anim-bird"></div>
        </div>
        <h2 id="gs-loader-text">Welcome to Birds.js !</h2>
        
      </div>

      <div id="gs-login" class="inGamePanel">
        <h1>Birds.js</h1>

        <input type="text" id="player-name" maxlength="8" value="Player_1" />
        <input type="button" id="player-connection" value="Play !" />
      
      </div>

      <div id="gs-ranking" class="inGamePanel">
        <h1 id="gs-ranking-title">Game Over</h1>
        <div id="gs-ranking-box">
          <div class="gs-ranking-panel">
            <h3>Medal</h3>
            <div class="gs-ranking-medal"></div>
            <strong id="gs-ranking-pos" class="gs-ranking-text gs-ranking-text-mini">- / -</strong>
          </div>
          <div class="gs-ranking-panel">
            <h3>Score</h3>
            <strong id="gs-ranking-score" class="gs-ranking-text">-</strong>
            
            <h3>Best</h3>
            <strong id="gs-ranking-best" class="gs-ranking-text">-</strong>
            
          </div>
        </div>
      </div>

      <div id="gs-highscores" class="inGamePanel">
        <h1 id="gs-highscores-title">High Scores</h1>
        <div id="gs-highscores-box">
          <ul id="gs-highscores-scores">
            
          </ul>
        </div>
      </div>

      <div id="gs-error" class="inGamePanel">
        <h1 id="gs-error-title">Ouuuuuups :(</h1>
        <h2 id="gs-error-message">Something goes wrong. Please reload the page</h2>
      </div>

    </div>
